<?xml version="1.0"?>
<config>
    <modules>
        <MaxVision_Customoptionsedit>
            <version>0.1.0</version>
        </MaxVision_Customoptionsedit>
    </modules>
    <global>
        <blocks>
            <customoptionsedit>
                <class>MaxVision_Customoptionsedit_Block</class>
            </customoptionsedit>
            <adminhtml>
                <rewrite>
                    <sales_order_view_items>MaxVision_Customoptionsedit_Block_Adminhtml_Sales_Order_View_Items</sales_order_view_items>
                </rewrite>
            </adminhtml>
            <catalog>
                <rewrite>
                    <product_view_options_type_select>MaxVision_Customoptionsedit_Block_Catalog_Product_View_Options_Type_Select</product_view_options_type_select>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <customoptionsedit>
                <class>MaxVision_Customoptionsedit_Helper</class>
            </customoptionsedit>
        </helpers>
        <resources>
            <customoptionsedit_setup>
                <setup>
                    <module>MaxVision_Customoptionsedit</module>
                </setup>
            </customoptionsedit_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <adminrouter after="Mage_Adminhtml">MaxVision_Customoptionsedit_Adminhtml</adminrouter>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <customoptionsedit>
                    <file>maxvision/customoptionsedit.xml</file>
                </customoptionsedit>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <maxvision_customoptionsedit>
                                            <title>Custom Options Edit</title>
                                        </maxvision_customoptionsedit>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>

